<div class="rating" (click)="clickRating($event)">
  <input class="rating-gauge" type="range" min="0" max="5" readonly />

  <div class="rating-stars" id={{good.id}}>
    <div class="rating-stars-placehold" >
      <span>1 </span>
      <span>2 </span>
      <span>3 </span>
      <span>4 </span>
      <span>5 </span>
    </div>
    <div class="rating-stars-slider"  [ngStyle]="{'width': good.getRating()+'%'}">
      <span>1 </span>
      <span>2 </span>
      <span>3 </span>
      <span>4 </span>
      <span>5 </span>
    </div>
  </div>
</div>
